body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/foto.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trade Winds';
}
.brand{
    height: 3.2em;
    margin-left: 5px;
    margin-top: 15px;
    overflow: hidden;
}
.container {
    text-align: center;
}

footer{
    position: fixed;  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

