body{
    background: url("../images/foto.jpg") no-repeat center center fixed;
    background-size:cover;
    height: 100%;
    overflow: hidden;
}
.brand{
    height: 3.2em;
    margin-left: 5px;
    margin-top: 15px;

}
.header {  
    align-items: center;
    height: 5px;
    width: 10px;
    padding-top: 5px;
    text-align: center;
}
.text{
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
}