body{
  background-image: url(../images/foto.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trade Winds';
}
.navbar-inverse{
    background-color: red;
    width: 100%;
    
}
#nav{
    padding-bottom: 3px;
}
/* project area stylying*/

#main{
    color: #000000;
    margin-top: 200px;
    text-align: center;
  }
#menu {
    display: none;
    color: #000000;
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#price-content {
    margin-top: 100px;
}
  
.page-header {
    font-size: 65pt;
    margin-bottom: 75px;
    padding-bottom: 35px;
}
 
#address-form {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
  
.address-spacing {
    margin-bottom: 20px;
}
  /*rem to change this to county  */
#state-select {
    margin-top: 0px;
}

/* btn */

#pickup-btn, #delivery-btn, #custom-pizza-btn, #submit-custom-pizza {
    font-size: 20pt;
    margin-top: 30px;
}
#custom-pizza-btn {
    display: none;
  }
  
  #pickup-btn, #delivery-btn {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  
  #order-proceed-btn {
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  #checkout-btn {
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  #submit-custom-pizza {
    margin-bottom: 35px;
  }

#address, #custom-pizza, #pizza-details, #default-pizzas, #default-pizza-details, #sides-dropdown, #sides-details {
    display: none;
}

.footer{
    position: fixed;  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

